<div class="container-fluid">
<div class="container title">
  <div class="row justify-content-md-center">
      <h1>
        {{ title }}
      </h1>
      </div>
      </div>
  <div class="into row justify-content-md-center letsfind">
  <form class="form-inline">
    <label class="mr-sm-2" for="inlineFormCustomSelect">I want to find</label>
    <select class="select into" id="inlineFormCustomSelect">
      <option selected value="1">a movie</option>
      <option value="2">music</option>
      <option value="3">a show</option>
      <option value="4">a book</option>
      <option value="5">an author</option>
      <option value="6">a game </option>
    </select>
    <label class="mr-sm-2" for="inlineFormText">kinda like</label>
    <input class="form-control into" type="text" placeholder="(something you're into)" id="example-text-input">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
  <app-heroes></app-heroes>
  <app-messages></app-messages>
</div>